@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Nepomuk';
    src: url('/src/assets/Nepomuk/Nepomuk-Regular.woff2') format('woff2'),
        url('/src/assets/Nepomuk/Nepomuk-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'Nepomuk';
    src: url('/src/assets/Nepomuk/Nepomuk-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nepomuk';
    src: url('/src/assets/Nepomuk/Nepomuk-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nepomuk';
    src: url('/src/assets/Nepomuk/Nepomuk-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  html {
    font-family: "Nepomuk", serif;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid #253341; */
  -webkit-text-fill-color: #F5A58C;
  -webkit-box-shadow: 0 0 0px 1000px #218380 inset;
  box-shadow: 0 0 0px 1000px #218380 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}
